path_voc_=E:\Experiment\code\Sift_SLAM_v4\data/SIFTvoc.txt
path_settings_=E:\Experiment\code\Sift_SLAM_v4\data/TUM2.yaml
path_sequence_=E:\Experiment\code\PoseEstimate\data\TUM
path_association_=E:\Experiment\code\PoseEstimate\data\TUM\associations.txt
path_oni_=
path_traj_=E:\Experiment\code\PoseEstimate\data\TUM/Trajectory.txt
path_trajRT_=E:\Experiment\code\PoseEstimate\data\TUM/TrajectoryRT.txt
path_KeyPointsRel_=E:\Experiment\code\PoseEstimate\data\TUM
path_pcdSave_=E:\Experiment\code\PoseEstimate\data\TUM/Integrate.pcd 
path_fusedata_=E:\Experiment\code\PoseEstimate\data\TUM\FuseData
usebufdata_=false
segnum_=0
strdatabuf_=E:\Experiment\code\Sift_SLAM_v4\dataCache
useNormaldata_=false
useFeaturedata_=false
useInfoTrajdata_=false
useFinalTrajdata_=false
GrAndOptbufPath_=E:\Experiment\code\Sift_SLAM_v4\dataCache/GrAndOpt

max_iteration_=4000
resample_leaf_=0.02
normal_radius_=0.1

reg_dist_=1.5
reg_ratio_=0.025
dist_thresh_=0.05

