
path_sequence_=E:\datasets\Scene3D\bur\burghers_sample_png
path_association_=E:\datasets\Scene3D\bur\burghers_sample_png/associations.txt
path_oni_=

finaltraj_=E:\Experiment\code\Sift_SLAM_v4\dataCache/mat/pose_BAKF_BAF.txt
finalmodel_=E:\Experiment\code\Sift_SLAM_v4\dataCache/mat/pose_BAKF_BAF.pcd
cameraparam_=E:\Experiment\code\Sift_SLAM_v3\Integration\longrange.param


